body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 900px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn-full {
    width: 100%;
}

 h2, h3 {
    padding-bottom: 0.5em;
}

.pad-right {
    padding-right: 2px
}

.flex {
    display: flex;
    align-items: center;
}

.flex-right {
    margin-left: auto;
}